div {
	display: block;
}

body {
	margin: -0 auto -36px;
	height: 1700px;
	font-family: 'Roboto', sans-serif;
}

header {
	position: relative;
	height: 100%;
	width: 1170;
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
}

h1 {
	margin: 10.5px 0;
	font-family: inherit;
}

h2 {
	font-size: 29px;
	line-height: 10px;
	margin-bottom: 20px;
}

#wrapper {
	height: 1700px;
	width: 100%;
	border: 1px solid transparent;
	background: url(images/bodyBG.png) 0 0 repeat-x;
	overflow: hidden;
}

.wrapper-inner {
	margin-top: 0px;
	height: 1630px;
	position: relative;
	border: 1px solid transparent;
	overflow: hidden;
}

.header-row {
	height: 174px;
	border: 1px solid transparent;
}	

.container {
	position: relative;
	background: white;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid transparent;
	height: 173px;
}

.logo {
	margin-left: 2%;
	border: 1px solid transparent;
	height: 99%;
	width: 50%;
	float: left;
}

.moduletable-text {
	margin-left: 55%;
	height: 50%;
	width: 45%;
	border: 1px solid transparent;
	position: relative;
}

.moduletable-social {
	margin-left: 55%;
	height: 47%;
	width: 45%;
	border: 1px solid transparent;	
}

#logo {
	position: relative;
	float: left;
}

#logo a {
	position: relative;
	color: #1c1c1c;
	display: inline-block;
}

#logo a:hover {
	color: #808080;
}

#logo h1 {
	font-size: 80px;
	font-weight: 900;
	font-style: italic;
	font-family: inherit;
	line-height: 101px;
	margin-bottom: -5%;
	padding: 30;
}

.mod-menu {
	float: right;
	position: relative;
	margin-left: 5%;
	margin-top: 5%;
	/*height: 80%;*/
	/*width: 80%;*/
	border: 1px solid transparent;
}

.menu-text > li {
	display: inline-block;
	list-style: none;
	line-height: 21px;
	margin-right: 15px;
	padding-right: 16px;
	position: relative;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
}

.menu-text > li > a {
	color: #777777;
	border-radius: 0px;
	line-height: 21px;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.menu-text > li > a:hover {
	color: black;
}

.social-menu {
	float: right;
	position: relative;
	padding-left: 30px;
}
.menu-social-list > li {
	display: inline-block;
	list-style: none;
	margin-top: -10;
	margin-right: 15px;
	padding-right: 6px;
	position: relative;
	text-transform: uppercase;

}

.menu-social-list > li > a > img {
	height: 40px;
	width: 40px;
}

.navigation-row {
	border: 1px solid transparent;
	height: 47px;
	width: 100%;
	background: black;
	border: 1px solid transparent;
}

.row-container {
	position: relative;
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid transparent;
}

.navigation-menu {
	position: relative;
	margin: 8;
	list-style: none;
	overflow: visible;
	height: auto;
	margin-left: auto;
}

.navigation-menu > li {
	display: inline-block;
	float: left;
	border-right: 1px solid #494949;
	border-left: 1px solid #494949;
	font-size: 28px;
	font-weight: 700;	

	/*margin-right: 3px;*/
	/*margin-left: 3px;*/
}

.navigation-menu > li > a {
	margin-left: 8px;
	margin-right: 8px;
	color: white;
	z-index: 100;
}

.navigation-menu > li > a:hover {
	color: #808080;
	background: white;
}

#content-row {
	position: relative;
	border: 1px solid transparent;
	min-height: 1500px;
}

.component {
	position: relative;
	min-height: 1500px;
	width: 80%;
	border: 1px solid transparent;
	margin-top: -5px;
	float: left;
}

.asid-rigth {
	position: relative;
	min-height: 1000px;
	width: 18%;
	border: 1px solid transparent;
	float: right;
	margin-top: 30px;
}

.big {
	position: relative;
	display: inline-block;
	margin-left: 3%;
	margin-top: 3%;
	width: 62%;
	float: left;
	height: 466px;
	border: 1px solid transparent;
}

.big-image {
	height: 420px;
	width: 570px;
	margin-top: 25px;
	margin-left: 5px;
}

.big-image-text {
	display: block;
	 position:absolute;
    left:0;
    bottom:0;
    width:570px;
    height: 35%;
    margin-bottom: 20px;
    margin-left: 5px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
         
    padding:10px;
    background-color:rgba(0,0,0,.3);
}

.big-image-text a {
	color: white;
}

.big-image-text h6 {
	font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}

.big-image-text span {
	font-size: 12px;
}

.content-popular-block {
	position: relative;
	float: right;
	height: 703px;
	width: 290px;
	border: 1px solid transparent;
	margin-right: 15px;
	margin-top: 3%;
}

.small-block {
	margin-left: 3%;
	margin-top: 15px;
	position: relative;
	float: left;
	height: 220px;
	border: 1px solid white;
	width: 62%;
}

.latest-news {
	margin-left: 3%;
	margin-top: 750px;
	position: relative;
	//float: left;
	height: 600px;
	border: 1px solid transparent;
	width: 62%;
}

.featured-news {
	position: relative;
	float: right;
	height: 600px;
	width: 290px;
	border: 1px solid transparent;
	margin-right: 15px;
	margin-top: 17px;
}

.after {
	background: #e1e1e1;
	height: 4px;
}

.popular-block
{
	margin-top: 16px;
	border: 1px solid transparent;
	position: relative;
	width: 280px;
	height: 110px;
	margin-left: 3px;
}

.popular-block-img
{
	margin-left: 7px;
	position: relative;
	width: 115px;
	height: 95px;
	margin-top: -6px;
}

.popular-block-header
{
	position: relative;
	float: right;
	width: 150px;
	margin-top: -20px;
	font-size: 12px;
}

.popular-block a {
	color: black;
}

.popular-block-date
{
	color: gray;
	margin-top: 5px;
}

.small-block-left {
	position: relative;
	float: left;
	width: 48%;
	height: 98%;
	border: 1px solid transparent;
	margin: 1px;
}

.small-block-rigth {
	position: relative;
	display: inline-block;
	float: right;
	width: 48%;
	height: 98%;
	border: 1px solid transparent;
	margin: 1px;
}

.small-block-image {
	position: relative;
	height: 98%;
	width: 98%;
	margin-top: 2px;
	margin-left: 2px;
}

.small-block-image-text {
	display: block;
	 position:absolute;
    left:0;
    bottom:0;
    width:97.5%;
    height: 40%;
    margin-bottom: 10px;
    margin-left: 3px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;

         
    padding:10px;
    background-color:rgba(0,0,0,.3);
}

.small-block-image-text a{
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color: white;
}

.latest-block {
	position: relaive;
	height: 23%;
	border: 1px solid transparent;
	width: 98%;
	margin-left: 4px;
	margin-top: 22px;
}

.latest-block-img {
	position: relative;
	height: 98%;
	//margin-left: 2px;
	margin-top: 2px;
	width: 30%;
}

.latest-block-text {
	position: relative;
	float:right;
	border: 1px solid transparent;
	height: 98%;
	width: 69%;
	margin-top: 1px;
	font-size: 12px;
}

.latest-block-text a {
	color: black;
}

.latest-block-text h3 {
	margin-top: 8px;
}

.latest-block-date {
	margin-top: 20px;
	color: gray;
}

.asid-rigth-block {
	border: 1px solid transparent;
	position: relative;
	height: 420px;
	width: 98%;
	margin-top: 10px;
	margin-left: 1px;
}

.asid-rigth-image {
	margin-left: 2px;
	margin-top: 1px;
	position: relative;
	height: 99%;
	width: 98%;
}

.asid-rigth-image-text {
	display: block;
	 position:absolute;
    left:0;
    bottom:0;
    width:96%;
    margin-bottom: 30px;
    margin-left: 5px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
    padding:10px;
    background-color:rgba(0,0,0,.3);
}

.asid-rigth-image-text a {
	color: white;
	font-size: 12px;
}

.news-content-row {
	height: 1200px;
	width: 87%;
	border: 1px solid transparent;
	margin-left: 7%;
}

.news-list {
	position: relative;
	float: left;
	width: 70%;
	height: 98%;
	margin-left: 15px;
	border: 1px solid transparent;
}

.news-list-header {
	border: 1px solid transparent;
	height: 4%;
	width: 98%;
}
.news-block {
	position: relative;
	width: 98%;
	height: 22%;
	border: 1px solid transparent;
	margin-top: 2px;
}

.news-block-img {
	position: relative;
	float: left;
	height: 98%;
	width: 30%;
	border: 1px solid transparent;
}

.news-image{
	margin-top: 5px;
	//margin-left: 5px;
	position: relative;
	height: 98%;
	width: 98%;
}

.news-block-text {
	position: relative;
	float: right;
	width: 68%;
	height: 97%;
	border: 1px solid transparent;
	margin-top: 5px;
}

.news-block-category {
	margin-top: -25px;
}

.news-block-category h4 {
	display: inline-block;
	color: white;
	background-color: black;
	border: 2px solid black;
}

.news-block-header {
	margin-top: -30px;
}

.news-block-header a {
	color: black;
}

.news-block-description {
}
.news-block-date {
	position: relative;
	color: gray;
	margin-top: 20px;
	font-size: 13px;

}

.newspage-img {
	margin-top: 20px;
	margin-left: 10%;
}

.newspage-img > img {
	height: 430px;
	width: 645px;
}

.news-main {
	width: 70%;
	margin-top: 20px;
}

.newspage-text {
	margin-top: 20px;
}

.newspage-body {
	height: 1000px;
}

.news-category {
	float: right;
	margin-left: 15px;
	width: 25%;
	margin-top: 5px;
}

.category-menu > li {
	list-style: none;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 700;
	margin-left: -37px;
}

.category-menu > li > a {
	text-decoration: none;
	color: black;
}

.category-menu > li > a:hover {
	color: gray;
}

input[type="search"] {
    padding: 7px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: px;
    background: #fff;
    margin-left: 15px;
    margin-bottom: 5px;
}
 
input[type="submit"] {
    margin: 0px;
    padding: 7px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f5f5f5;
}

.footer {
	height: 70px;
	background: #F5F5F5;
	width: 99%;
}

.footer-list {
	float:right;
	margin-right: 355px;
}
.footer-list li{
	display: inline-block;
	list-style: none;
	margin-left: 15px;
	margin-top: 10px;
}

.footer-list > li > a {
	text-decoration: none;
	color: black;
}

.newspage2 {
	height: 800px;
}

.popular-block-text {
	margin-top: -5px;
}
